.root {
  color: black;
  font-weight: 700;
  font-size: 32px;
  -webkit-text-stroke: 0.5px white;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: -1px 0 0 #00ff94, 1px 0 0 #ff008a;
}
