.root {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topMarquee {
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoAnchor {
  width: 90%;
  height: 454px;
  max-height: 50vh;
}

.bottomMarquee {
}

.davinci {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.davinciAnchor {
  width: 70vw;
  height: 72vh;
}
